@import "variables";

.message-scroll-area {
  padding-top: $large-section-spacing;
  padding-bottom: $large-section-spacing;
  //display: flex;
  height: 100%;
  width: 100%;
  max-height: 100%;
  //flex-direction: column;
  //flex: 1 1 auto;
  //overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.landlord-card {
  position: fixed;
  z-index: 5;
  width: 220px;
  padding: 30px;
  box-shadow: 0 14px 24px 0 rgba(46, 45, 54, 0.25%);
  top: 130px;
  left: calc((100% - 940px) / 2);

  .name {
    display: block;
    margin-top: 15px;
    @extend %small-font-style;
    font-weight: $font-weight;
    font-family: $regular-font-family;
    color: $deep-purple;
  }
  .link-to-apartment {
    display: block;
    margin-top: 30px;
    font-size: $smallest-font-size;
    line-height: $smallest-line-height;
    color: $light-text-colour;
  }
}

.landlord-photo-wrapper {
  width: 50px;
  height: 50px;
}

.message-box-container {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: $light-background-colour;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.chat-form {
  display: flex;
  align-items: flex-end;
  .MuiInputBase-input {
    font-size: $small-font-size;
    font-family: $regular-font-family;
  }
  .chat-input {
    margin-bottom: 20px;
  }
}
.send-btn {
  width: 200px;
  margin-left: 20px;
  height: 50px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: $light-text-colour;
  &.active {
    background-color: $deep-purple;
    transition: all 0.3s ease-out;
  }
}
%message {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
%message-text {
  padding: 25px;
  word-break: break-all;
  white-space: pre-wrap;
  border: 1px solid #e9eaef;
  border-radius: 6px;
}
.my-message {
  @extend %message;
  align-items: flex-end;
  .message {
    @extend %message-text;
    background-color: $my-message-bg;
  }
}
.other-user-message {
  @extend %message;
  align-items: flex-start;
  .message {
    @extend %message-text;
    background-color: $hover-color;
  }
}

.message-date {
  //@extend %smallest-font-style;
  font-size: 12px;
  display: block;
  margin: 15px 0;
  color: $light-text-colour;
}

@media (max-width: 960px) {
  .landlord-card {
    border-bottom: 1px solid $light-background-colour;
    text-align: center;
    width: 100%;
    padding: 15px;
    top: 50px;
    left: 0;
    box-shadow: none;
    .landlord-photo-wrapper {
      display: none;
    }
    .name {
      margin-top: 5px;
    }
    .link-to-apartment {
      margin-top: 5px;
    }
  }
}

@media (max-width: 767.98px) {
  .send-btn {
    width: 90px;
  }
}
