@import "variables";

// Site footer
.footer {
  padding-top: $section-spacing;
  padding-bottom: $section-spacing;
  background-color: #2d2e35;
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 1400px;
    top: 40px;
    //bottom: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://cdn.rentberry.com/static/rentberry/browser/assets/images/footer/footer-city-bg.svg?v=1608040196369");
  }

  .footer-icon {
    margin-bottom: 40px;

    a {
      font-size: 16px;
      text-align: center;
      background-color: #414250;
      color: white;
      margin-right: 20px;
      padding: 11px 11px 9px 11px;
      border-radius: 50%;
    }
  }

  p {
    color: white;
    @extend %link-font;
    margin-bottom: 40px;
  }

  h4 {
    font-size: $smallest-font-size;
    font-weight: 700;
    line-height: 20px;
    color: white;
  }

  a {
    @extend %link-font;
  }

  ul {
    padding-bottom: 30px;
  }
}


@media (max-width: 1000px) {
  .footer {
    padding-top: $small-section-spacing;
    padding-bottom: $small-section-spacing;
    text-align: center;
    &::before {
      display: none;
    }
  }
}
