@import "variables";
@import "mixins";

// Page header section
.header-container {
  position: relative;
  background: linear-gradient(
                  -60.76deg,
                  $bg-colour-1 0,
                  $bg-colour-2 57.96%,
                  $bg-colour-3 100%
  );

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 1400px;
    top: 100px;
    bottom: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://cdn.rentberry.com/static/rentberry/browser/assets/images/cities/san-francisco/San_F.svg?v=1607418911945");
  }
}

.header-title {
  font-weight: $font-weight;
  font-size: 72px;
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 3rem;
  color: white;
  text-shadow: 0 14px 24px rgba(50, 48, 58, 0.25);
}

.header-input {
  @extend %flex-column;
  margin-bottom: 100px;

  .col-lg-7 {
    padding: 0;
  }
}

.input-container {
  position: relative;

  input {
    padding: 21px 30px;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-size: $medium-font-size;
    line-height: $medium-line-height;
    box-shadow: 0 14px 24px rgba(46, 45, 54, 0.25);
    color: $font-dark-colour;
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0.7; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    opacity: 1;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    opacity: 1;
  }
}

.location-dropdown {
  width: 100%;
  margin-top: 10px;
  box-shadow: 0 8px 12px rgba(46, 45, 54, 0.25);
  position: absolute;
  border-radius: 3px;
  background: #fff;
  overflow: hidden;
  z-index: 1;
  display: none;

  &-enter {
    display: block;
  }

  li {
    padding: 0 30px;
    line-height: 70px;
  }
}

.rent-list-btn {
  @extend %flex-row;

  button {
    @extend %button;
    padding: 11px 40px;
    font-size: $medium-font-size;
    line-height: $medium-line-height;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .rent-btn {
    background-color: rgba(46, 45, 54, 0.3);
    color: white;
    transition: all 0.2s ease-in;

    &-active {
      background-color: white;
      color: $mediumpurple;
    }
  }

  .list-btn {
    background-color: rgba(46, 45, 54, 0.3);
    color: white;
    transition: all 0.2s ease-in;

    &-active {
      background-color: white;
      color: $mediumpurple;
    }
  }
}

.header-btn-container {
  @extend %flex-column;
  margin-top: 50px;

  p {
    font-size: $medium-font-size;
    line-height: $medium-line-height;
    font-weight: $font-weight;
    color: white;
  }

  button {
    @extend %button;
    padding: 8px 30px;
    font-size: $small-font-size;
    border-radius: 36px;
    background-color: $light-yellow;
  }
}

// City section
.cities-container {
  padding-top: $medium-section-spacing;
  padding-bottom: $medium-section-spacing;
}

.cities-title {
  text-align: center;

  h1 {
    @extend %large-heading-style;
  }

  p {
    font-size: $medium-font-size;
    opacity: 0.8;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
}

.city-container {
  transition: all 0.2s ease-out;
  height: 200px;
  position: relative;
  width: 100%;
  background-color: $mediumpurple;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
  overflow: hidden;
  display: block;
  z-index: 9;

  img {
    height: auto;
    width: 100%;
  }

  p {
    transition: all 0.2s ease-out;
    display: block;
    text-align: center;
    font-weight: 600;
    position: absolute;
    color: white;
    margin: 0;
    width: 100%;
    top: 40%;
  }
}

.city-name {
  font-size: 24px;
}

.city-description {
  font-size: $medium-font-size;
  color: white;
  opacity: 0;
  transform: translateY(-50%);
}

.rental-steps-container {
  padding-bottom: $medium-section-spacing;

  .switch {
    @extend %flex-row;
  }

  .switch-btn {
    @include switch-btn;
  }
}

// rental instruction section
.rental-instruction {
  .rental-info {
    position: relative;

    .info-img-container {
      height: 108px;
      text-align: center;

      img {
        height: auto;
        //width: 100%;
      }
    }

    .info-content {
      line-height: $small-line-height;

      h3 {
        font-size: 17px;
        font-weight: 600;
        margin: 17px 0;
      }

      p {
        opacity: 0.8;
      }
    }

    .step-number {
      position: absolute;
      font-weight: $font-weight;
      font-size: 36px;
      left: -40px;
      top: 112px;
      color: $deep-purple;
    }
  }

  .learn-more-btn {
    margin-top: 50px;
    text-align: center;

    button {
      @extend %button;
      padding: 6px 16px;
      border-radius: 4px;
      font-size: $small-font-size;
      background-color: $deep-purple;
    }
  }
}

// Perfect place section
.perfect-place-section {
  background-color: #9679ff;
  padding: 11.25rem 4rem 9.75rem;
  color: white;
  position: relative;

  .perfect-place-content {
    z-index: 1;

    h1 {
      font-weight: $font-weight;
      font-size: 38px;
      line-height: 50px;
      margin-bottom: 20px;
    }

    p {
      font-size: $medium-font-size;
    }

    button {
      @extend %button;
      margin-top: 20px;
      padding: 16px 28px;
      border-radius: 4px;
      font-size: $small-font-size;
      background-color: $deep-purple;
    }
  }

  img {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $font-dark-colour;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.2;
  }
}

// Available Cities Section
.available-cities-section {
  padding-top: $medium-section-spacing;
  padding-bottom: $medium-section-spacing;
  text-align: center;

  h1 {
    @extend %large-heading-style;
    margin-bottom: 80px;
    line-height: 60px;
  }

  h4 {
    font-size: $smallest-font-size;
    font-weight: $font-weight;
    line-height: 20px;
  }

  a {
    text-align: center;
    @extend %link-font;
    line-height: $medium-line-height;
  }

  .light-border {
    border-right: 1px solid $light-border;
  }
}

// Listing Categories Section
.listing-categories-section {
  padding-bottom: $medium-section-spacing;
  text-align: center;

  h1 {
    @extend %large-heading-style;
    margin-bottom: 80px;
    line-height: 60px;
  }

  a {
    @extend %link-font;
  }

  .right-border {
    border-right: 1px solid $lighter-dark-colour;
  }
}

// Responsiveness
@media (max-width: 767.98px) {
  %font-small {
    font-size: $medium-font-size;
    line-height: $medium-line-height;
    font-weight: $font-weight;
  }

  %font-smallest {
    font-size: $small-font-size;
    line-height: $small-line-height;
    font-weight: $font-weight;
  }

  .cities-container {
    padding-top: 0;
    padding-bottom: $small-section-spacing;
  }

  .header-title {
    @extend %font-small;
    margin-bottom: 1rem;
  }
  .input-container {
    input {
      font-size: $small-font-size;
      line-height: $small-line-height;
      padding: 14px 15px;
    }
  }
  .header-input {
    margin-bottom: 20px;
  }
  .rent-list-btn {
    button {
      padding: 8px 30px;
      @extend %font-smallest;
    }
  }
  .header-btn-container {
    p {
      @extend %font-smallest;
    }
  }
  .location-dropdown {
    li {
      padding: 0 15px;
      line-height: 50px;
    }
  }
  .header-container {
    &::before {
      background-size: 600px;
      bottom: 60px;
    }
  }
  .cities-container {
    margin-top: $small-section-spacing;
    margin-bottom: 0;
  }
  .cities-title {
    h1 {
      @extend %font-small;
      line-height: $small-line-height;
    }

    p {
      font-size: $small-font-size;
      margin: 10px 0 20px;
      padding: 0 25px;
    }
  }
  .city-name {
    font-size: $smallest-font-size;
    line-height: 20px;
  }
  .switch-btn {
    span {
      font-size: 16px;
    }
  }
  .rental-instruction {
    .rental-info {
      text-align: center;

      .info-content {
        margin-bottom: 50px;
      }

      .step-number {
        font-size: $small-font-size;
        right: 190px;
        top: 124px;
      }
    }
  }
  .perfect-place-section {
    padding: 4rem 1.125rem 3rem;

    img {
      object-position: right;
    }

    .perfect-place-content {
      h1 {
        font-size: $medium-font-size;
        line-height: 25px;
      }

      p {
        font-size: $small-font-size;
        line-height: 24px;
        margin-bottom: 0;
      }

      button {
        padding: 13px 20px;
      }
    }
  }
  .available-cities-section {
    padding-top: $small-section-spacing;
    padding-bottom: $small-section-spacing;

    h1 {
      @extend %font-small;
      line-height: $small-line-height;
      margin-bottom: 40px;
    }
  }
  .listing-categories-section {
    h1 {
      @extend %font-small;
      margin-bottom: 40px;
      line-height: $small-line-height;
    }

    .right-border {
      border-right: none;
    }
  }
}

@media (min-width: 1000px) {
  .city-container:hover {
    transform: scale(1.1);

    .city-description {
      transform: translateY(50%);
      opacity: 1;
    }

    .city-name {
      top: 20%;
    }
  }
}

@media (max-width: 1220px) {
  .city-container {
    height: auto;
  }
}
