@import "variables";

// Property header section

.property-header-container {
  padding-bottom: $large-section-spacing;
}

.house-details-header {
  position: relative;
}

.house-details-background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  transform: scale(1.2);
  transform-origin: center center 0;

  &:before {
    content: "";
    display: block;
    background-color: $bg-overlay-colour;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.animate {
  transform: scale(1);
  transition: transform 2.5s ease-out;
}

.property-header-address {
  padding-top: $large-section-spacing;
  display: flex;
  justify-content: space-between;
}

.address-wrapper {
  color: hsla(0, 0%, 100%, 0.7);
  padding: 8px 18px;
  background: hsla(0, 0%, 100%, 0.05);
  border-radius: 34px;
  font-size: $medium-font-size;
  line-height: 24px;

  &.address {
    text-transform: capitalize;
  }

  &.apartment {
    cursor: pointer;

    &:hover {
      transition: background-color 0.3s ease-out;
      background: hsla(0, 0%, 100%, 0.15);
    }
  }
}

.property-utility-summary {
  padding-top: 90px;
}

.property-utilities {
  h1 {
    font-size: $largest-font-size;
    line-height: $largest-line-height;
    font-weight: $font-weight;
    color: white;
  }
}

.utilities-item-wrapper {
  padding-top: 57px;
}

.property-utility {
  display: inline-block;
  margin-right: 50px;

  span {
    text-align: center;
    color: white;
    display: block;
  }

  .value {
    @extend %medium-font-style;
    margin-top: 5px;
    font-weight: $font-weight;
  }

  .icon-wrapper {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    background-position: 50%;
    background-repeat: no-repeat;
  }

  .name {
    font-size: 12px;
    line-height: 15px;
  }
}

.apply-for-property {
  width: 220px;
  border-radius: 6px;
  user-select: none;
}

.property-monthly-price {
  padding: 25px 0;

  .monthly-price-header {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 0 10px;
    @extend %smallest-font-style;
    color: $lighter-dark-colour;
  }

  .price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: $font-weight;
    font-size: $medium-large-font-size;
    line-height: $medium-large-line-height;
  }

  .arrow-icon {
    margin-right: 10px;
    height: 20px;
    width: 20px;
    color: $light-green;
  }
}

.property-availability {
  background-color: $bg-colour-5;
  display: flex;
  justify-content: center;
  font-size: $smallest-font-size;
  line-height: $smallest-line-height;
  padding: 10px 0;

  .available {
    margin-right: 6px;
  }

  .right-now {
    font-weight: $font-weight;
  }
}

.apply-for-property-button {
  width: 100%;
  background-color: $light-green;
  border: none;
  color: white;
  height: 60px;
  font-size: 24px;
  font-weight: $font-weight;
  line-height: 60px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
}

// Property images section
.property-image-container {
  @extend %listing-image-container;
}

.property-image {
  @extend %listing-image;
}

.show-more-properties {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    @extend %smallest-font-style;
    color: $mediumpurple;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid $mediumpurple;
    }
  }
}

// Property amenities section
.property-description-section {
  padding-bottom: $medium-section-spacing;
}

.property-description {
  h1 {
    @extend %large-heading-style;
  }
}

.property-description-text {
  margin-top: 25px;

  span {
    @extend %medium-font-style;
    color: $font-dark-colour;
  }

  .full-description {
    @extend %medium-font-style;
    color: $mediumpurple;
    cursor: pointer;
  }
}
.house-amenities-section {
  padding-top: 70px;
  padding-bottom: 70px;
}
.amenities-icon-wrapper {
  display: flex;
  align-items: center;
  //.svg-icon {
  //  width: 24px;
  //  height: 24px;
  //  display: block;
  //  background-position: 50%;
  //  background-repeat: no-repeat;
  //}

  svg {
    width: 24px;
    height: 24px;
  }

  span {
    @extend %smallest-font-style;
    text-align: center;
    padding-left: 10px;
    line-height: 24px;
  }
}

// Contact agent section
.contact-landlord-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.contact-landlord-card {
  padding-top: 30px;
  padding-bottom: 30px;
}
.landlord-image-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.landlord-image-container {
  height: 180px;
  width: 180px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}
.card-content {
  padding: 10px 10px 20px 10px;
}

.landlord-short-details {
  text-align: center;
  padding-bottom: 20px;

  h3 {
    @extend %medium-font-style;
    font-weight: $font-weight;
    margin: 0;
  }
  span {
    @extend %smallest-font-style;
  }
}
.contact-landlord-button {
  @extend %button-with-outline;
  width: 100%;
  border: 1px solid $deep-purple;
  color: $deep-purple;
  padding: 8px 16px;

  &:hover {
    transition: all 0.3s ease-out;
    background-color: $deep-purple;
    color: white;
  }
}
.phone-and-email {
  background: $bg-colour-5;
  @extend %smallest-font-style;
  padding: 10px 20px;
  border-left: 3px solid $deep-purple;
}
.text-icon-wrapper {
  display: flex;
  align-items: center;
  margin-top: 4px;

  span {
    padding-left: 12px;
  }
  .icon-wrapper {
    height: 24px;
    width: 24px;
    border-radius: 3px;
    background-color: $deep-purple;
    text-align: center;

    svg {
      height: 14px;
      width: 14px;
      color: white;
    }
  }
}

// Landlord details with short description
.contact-landlord-section {
  padding-bottom: $medium-section-spacing;
  padding-top: $medium-section-spacing;
}
.landlord-name-address {
  h3 {
    @extend %medium-font-style;
    font-weight: $font-weight;
    margin: 0;
  }
  span {
    @extend %smallest-font-style;
  }
}
.short-description {
  margin-top: 20px;
  margin-bottom: 40px;
}

.landlord-stats-container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.landlord-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;

  @extend %smallest-font-style;
  text-align: center;
  color: $deep-purple;

  .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    height: 50px;
    width: 50px;
    background-color: $deep-purple;
    border-radius: 5px;
    svg {
      height: 30px;
      width: 30px;
      color: white;
    }
  }
  .date-joined {
    display: block;
  }
}

// Similar properties section
.similar-properties-section {
  padding-bottom: $small-section-spacing;
  padding-top: $small-section-spacing;
  background-color: $bg-colour-5;
  h1 {
    text-align: center;
    @extend %large-heading-style;
  }
}
.show-more-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .show-more-btn {
    @extend %button-with-outline;
    border: 1px solid $deep-purple;
    color: $deep-purple;
    padding: 5px 16px;
    &:hover {
      transition: all 0.3s ease-out;
      background-color: $deep-purple;
      color: white;
    }
  }
}
.properties-nearby {
  margin-bottom: 30px;
  margin-top: 30px;
}
