@import "variables";
@mixin dropdown-item-container {
  cursor: pointer;
  padding: 6px 8px;
  display: flex;
  &:hover {
    background-color: $hover-color;
    transition: background-color 0.2s ease;
  }
  .dropdown-item-icon {
    padding-right: 20px;
    .MuiSvgIcon-fontSizeInherit {
      font-size: $svg-small-size;
    }
    //svg {
    //  height: $svg-big-size;
    //}
  }
  h5 {
    font-size: $small-font-size;
    font-family: $bold-font-family;
    font-weight: 700;
    margin-bottom: 0;
    opacity: 0.8;
  }
  span {
    font-size: 14px;
    color: $lighter-dark-colour;
  }
}

@mixin switch-btn {
  background-color: #f9f9f9;
  height: 4.125rem;
  border-radius: 2.125rem;
  @extend %flex-row;
  width: 100%;
  margin-bottom: 50px;

  button {
    width: 48.5%;
    border: none;
    border-radius: 2.125rem;
    background-color: transparent;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    color: $lighter-dark-colour;
    height: 3.2rem;

    &.active {
      background-color: white;
      color: $deep-purple;
      box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.05);
    }
  }
}
