@import "variables";
// Payment pages
.payment-page {
  padding-top: $large-section-spacing;
  padding-bottom: $large-section-spacing;
  min-height: 100vh;

  .MuiTableCell-head {
    font-weight: $font-weight;
    font-family: $bold-font-family;
    font-size: $small-font-size;
  }

  .MuiPaper-elevation1 {
    box-shadow: none;
    border: 1px solid $light-border;
    border-radius: 6px;
  }
}

.payment-sidebar {
  padding-bottom: 20px;

  h3 {
    @extend %medium-large-heading-style;
    padding: 1.25rem 2rem 1.25rem;
  }
}

.sidebar-option-wrapper {
  li {
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    line-height: 20px;
    padding: 8px 16px;

    .text {
      @extend %small-font-style;
      padding-left: 2rem;
    }

    &:hover {
      transition: all 0.3s ease-out;
      background-color: rgba(0, 0, 0, 0.04);
    }
  }

  .active {
    background-color: rgba(0, 0, 0, 0.08);
    font-weight: $font-weight;
    font-family: $bold-font-family;
  }
}

.payment-panel {
  .heading {
    @extend %medium-large-heading-style;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 1.5rem 2rem;
    border-bottom: 1px solid $light-border;

    h3 {
      margin-bottom: 0;
    }
  }
}

.panel-content-container {
  padding: 1rem;
  overflow: auto;
}

.panel-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  &.active {
    padding: 10px 10px 10px 35px;
  }
}

.plan-type {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 150px;

  .type {
    @extend %small-font-style;
    font-weight: $font-weight;
    font-family: $bold-font-family;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid $font-dark-colour;
    }
  }

  .icon {
    position: absolute;
    bottom: 0;
    left: -35px;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid $light-green;

    svg {
      height: 15px;
      width: 15px;
      color: $light-green;
    }
  }
}

.plan-price {
  min-width: 150px;

  .price {
    @extend %small-font-style;
    font-weight: $font-weight;
    font-family: $bold-font-family;
    padding-right: 10px;
  }
}

.plan-duration {
  padding-left: 10px;
}

%sub-button {
  padding: 5px 16px;
  border-radius: 3px;
  background: transparent;
  margin-left: 10px;
}

.subscribe-button {
  @extend %sub-button;
  border: 1px solid $light-green;
  color: $light-green;

  &:hover {
    background: $light-green;
    color: white;
  }
}

.subscribe-button-cancel {
  border: 1px solid $cancel-color;
  color: white;
  background: $cancel-color;
  @extend %sub-button;
}

.payment-form {
  margin-top: 70px;

  .MuiInputBase-input {
    font-size: $small-font-size;
    font-family: $regular-font-family;
  }

  .MuiFormLabel-root {
    font-family: $regular-font-family;
    font-size: $small-font-size;
  }
}

.make-payment-button {
  margin-bottom: 30px;
  margin-top: 50px;
  @extend %listing-button;
}

// Pricing page
.pricing-header {
  .renting-header {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  .pricing-text {
    @extend %small-font-style;
    font-weight: $font-weight;
    font-family: $bold-font-family;
  }
}
.pricing-header-text {
  @extend %largest-heading-style;
}

.pricing-page {
  padding-top: $large-section-spacing;
  padding-bottom: $large-section-spacing;
}

.pricing-cards-header {
  @extend %large-heading-style;
  text-align: center;
  margin-bottom: 50px;
}

.pricing-card {
  border: 1px solid $light-border;
  border-radius: 20px;
  padding: 30px;
  margin: 25px 0;
}

.price-name {
  @extend %medium-large-heading-style;
}

.price-amount {
  font-family: $bold-font-family;
  margin: 15px 0;
  display: flex;
  align-items: center;

  .amount {
    @extend %large-heading-style;
  }
}

.pricing-features-wrapper {
  margin-top: 25px;
  margin-bottom: 25px;
}

.pricing-feature {
  height: 50px;
  line-height: 20px;
  display: flex;
  align-items: center;

  .feature {
    padding-left: 15px;
  }
}

.check-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: $mediumpurple;
  color: white;

  svg {
    height: 12px;
    width: 12px;
  }
}

.plan-button {
  border: 1px solid $mediumpurple;
  padding: 10px 16px;
  border-radius: 6px;
  background: transparent;
  width: 100%;
  color: $deep-purple;
  font-weight: 700;
  font-family: $bold-font-family;

  &:hover {
    transition: all 0.3s ease-out;
    color: white;
    background-color: $mediumpurple;
  }
}

.popular-card {
  color: white;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .price-description {
    opacity: 0.6;
  }

  .check-icon {
    background: white;

    svg {
      color: $deep-purple;
    }
  }

  .plan-button {
    background-color: white;
    border: none;

    &:hover {
      transition: all 0.3s ease-out;
      color: white;
      background-color: $cancel-color;
    }
  }
}

.faq-pricing-section {
  padding-top: $medium-section-spacing;
  padding-bottom: $large-section-spacing;
  background-color: $bg-colour-6;

  h3 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  %font-medium-head {
    font-size: $medium-large-font-size;
    line-height: $medium-large-line-height;
    font-weight: $font-weight;
  }
  .payment-page {
    padding-top: $small-section-spacing;
    padding-bottom: $small-section-spacing;
  }
  .pricing-page {
    padding-top: $small-section-spacing;
    padding-bottom: $small-section-spacing;
    .pricing-cards-header {
      @extend %font-medium-head;
      margin-bottom: 0;
    }
  }
  .pricing-header {
    .renting-header {
      height: 300px;
      margin-bottom: 0;
    }
    .pricing-header-text {
      @extend %font-medium-head;
    }
  }
  .faq-pricing-section {
    padding-top: $small-section-spacing;
    padding-bottom: $medium-section-spacing;
    .how-to-rent-header{
      @extend %font-medium-head;
    }
  }
}
