@import "variables";

.policy-page {
  padding-top: $large-section-spacing;
  padding-bottom: $large-section-spacing;
}
.policy-heading {
  @extend %largest-heading-style;
  text-align: center;
  margin-bottom: 72px;
}

.policy-sub-header {
  @extend %medium-large-heading-style;
  margin: 88px 0 25px;
}

.policy-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
  strong {
    font-family: $bold-font-family;
  }
}
