@import "variables";
@import "mixins";

// Renting header
.renting-header {
  padding-top: $medium-section-spacing;
  padding-bottom: $medium-section-spacing;
  background-color: #9679ff;
  position: relative;

  .renting-header-text {
    text-align: center;
    color: white;
    margin-bottom: 2rem;

    h1 {
      @extend %large-heading-style;
      margin: 2rem 0;
    }
    p {
      font-size: $small-font-size;
      line-height: $medium-line-height;
      margin: 0;
    }
  }
  .switch {
    @extend %flex-row;
  }

  .switch-btn {
    @include switch-btn;
  }
}

.header-image {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.renting-text-container {
  display: flex;
  justify-content: center;

  p {
    font-weight: 700;
  }
}

// Renting Services
.renting-services {
  padding-top: $medium-section-spacing;
  padding-bottom: $medium-section-spacing;
  .services-container {
    display: flex;
    justify-content: center;
  }
  h1 {
    @extend %large-heading-style;
    margin-bottom: 2rem;
  }
  p {
    font-size: $medium-font-size;
    line-height: $medium-line-height;
    color: $font-dark-colour;
  }
  a {
    font-size: $small-font-size;
    line-height: $small-line-height;
    color: $mediumpurple;
  }
}

.service-image-container {
  &.left {
    margin-left: 5rem;
  }
  &.right {
    margin-right: 5rem;
  }

  .service-image {
    box-shadow: -20px 24px 40px 0 rgba(45, 70, 88, 0.08);
    background: linear-gradient(
      225deg,
      rgba(45, 70, 88, 0.05) 0%,
      rgba(45, 70, 88, 0.01) 100%
    );
    height: 300px;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .service-image-no-shadow {
    height: 200px;
    width: 100%;
    margin-bottom: 2rem;
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }
}
.go-to-inbox {
  @extend %button;
  padding: 9px 18px;
  margin-top: 2rem;
  border-radius: 4px;
  font-size: $small-font-size;
  background-color: $deep-purple;
}

// Renting tips
.tips {
  padding-top: $medium-section-spacing;
  padding-bottom: $medium-section-spacing;
  text-align: center;

  h1 {
    @extend %large-heading-style;
  }
  .tips-actions {
    display: flex;
    padding: 20px 20px 20px 50px;

    .tips-text {
      font-size: $small-font-size;
      line-height: $small-line-height;
      color: $font-dark-colour;
    }
    svg {
      margin-right: 0.5rem;
      height: $svg-small-size;
      fill: mediumpurple;
    }
  }
}

// Proven Result Section
.proven-results {
  padding-top: $medium-section-spacing;
  padding-bottom: $medium-section-spacing;
  text-align: center;

  .proven-results-image {
    max-height: 100px;
    width: 100%;
    margin-bottom: 2rem;
    img {
      max-height: 100px;
      object-fit: cover;
    }
  }
  .proven-results-text {
    margin-top: 2rem;
    h3 {
      font-size: $medium-font-size;
      line-height: $medium-line-height;
      font-weight: $font-weight;
    }
  }
}

// Renting footer with search
.renting-search {
  padding-top: $medium-section-spacing;
  padding-bottom: $medium-section-spacing;
  position: relative;
  overflow: hidden;
  picture {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .renting-search-content {
    text-align: center;
    h1 {
      color: white;
      @extend %large-heading-style;
      margin-bottom: 2rem;
    }

    button {
      @extend %button;
      padding: 9px 18px;
      border-radius: 4px;
      font-size: $small-font-size;
      background-color: $deep-purple;
    }
  }
}

// Platform usage page for mobile phones

.renting-service-mobile,
.tips-mobile,
.proven-results-mobile {
  display: none;
}

@media (max-width: 1000px) {
  .renting-services,
  .tips,
  .proven-results {
    display: none;
  }
  //.tips {
  //  .tips-actions {
  //    padding: 20px;
  //  }
  //}

  .renting-service-mobile {
    display: block;
    padding-top: $small-section-spacing;
    padding-bottom: $small-section-spacing;
    h1 {
      font-size: $large-font-size;
      font-weight: $font-weight;
      line-height: $large-line-height;
      margin-bottom: 2rem;
    }
    p {
      font-size: $small-font-size;
      line-height: $medium-line-height;
      color: $font-dark-colour;
    }
    a {
      font-size: $smallest-font-size;
      line-height: $medium-line-height;
      color: $mediumpurple;
    }

    .service-image {
      box-shadow: -20px 24px 40px 0 rgba(45, 70, 88, 0.08);
      background: linear-gradient(
        225deg,
        rgba(45, 70, 88, 0.05) 0%,
        rgba(45, 70, 88, 0.01) 100%
      );
      height: 300px;
      width: 100%;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      display: flex;
      margin-bottom: 2rem;
    }
  }
  .tips-mobile {
    display: block;
    h1 {
      font-size: $large-font-size;
      font-weight: $font-weight;
      line-height: $large-line-height;
      margin-bottom: 2rem;
    }
    .tips-actions {
      display: flex;
      padding: 10px 0;

      .tips-text {
        font-size: $small-font-size;
        line-height: $small-line-height;
        color: $font-dark-colour;
      }
      svg {
        margin-right: 0.5rem;
        height: $svg-small-size;
        fill: mediumpurple;
      }
    }
  }
  .proven-results-mobile {
    display: block;
    padding-top: 0;
    padding-bottom: $small-section-spacing;

    .proven-results-mobile-wrapper{
      margin-bottom: 20px;
    }
    .proven-results-image {
      max-height: 70px;
      width: 100%;

      img {
        max-height: 70px;
        object-fit: cover;
      }
    }
    .proven-results-text {
      h4 {
        font-size: $small-font-size;
        line-height: $small-line-height;
        font-weight: $font-weight;
      }
    }
  }
}


@media (max-width: 767.98px) {
  %font-small {
    font-size: $medium-font-size;
    line-height: $medium-line-height;
    font-weight: $font-weight;
  }
  .tips-mobile {
    padding-top: 0;
    padding-bottom: 3rem;
    h1 {
      @extend %font-small;
    }
  }
  .renting-service-mobile {
    padding-top: 0;
    padding-bottom: 3rem;
    h1 {
      @extend %font-small;
    }
  }

  .renting-header {
    padding-bottom: $small-section-spacing;
    margin-bottom: 3rem;
    .renting-header-text {
      h1 {
        @extend %font-small;
      }
    }
  }

  .renting-services {
    padding-top: $small-section-spacing;
    padding-bottom: $small-section-spacing;
    h1 {
      @extend %font-small;
    }
  }
  .renting-search {
    .renting-search-content {
      h1 {
        @extend %font-small;
      }
    }
  }
  .service-image-no-shadow {
    margin-bottom: 2rem;
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }
}
