// Fonts
$smallest-font-size: 14px;
$smallest-line-height: 20px;

$small-font-size: 16px;
$small-line-height: 22px;

$medium-font-size : 20px;
$medium-line-height: 28px;

$large-font-size: 48px;
$large-line-height: 48px;

$font-weight :700;

// Colours
$bg-colour-1:  #9679ff;
$bg-colour-2:  #d499ea;
$bg-colour-3:  #eea4b3;
$light-dark-colour:  #2e2d36;
$lighter-dark-colour:  #858e98;
$mediumpurple: mediumpurple;
$deep-purple: #7c54c1;
$deeper-purple: #7a1ea0;
$light-yellow: #f7a31d;
$light-border: #e9eaef;
$hover-color: #f2f3f5;
$footer_bg-colour:#2d2e35;

// Section spacing
$section-spacing : 100px;
$small-section-spacing : 50px;

// Icon
$svg-small-size : 25px;
$svg-big-size : 30px;

%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-column {
  @extend %flex;
  flex-direction: column;
}

%flex-row {
  @extend %flex;
  flex-direction: row;
}

%link-font{
  font-size: $smallest-font-size;
  line-height: 20px;
  color: $mediumpurple;
  cursor: pointer;
}
%large-heading-style{
  font-size: $large-font-size;
  line-height: $large-line-height;
  font-weight: 700;
}


%button {
  text-align: center;
  border: none;
  cursor: pointer;
  font-weight: $font-weight;
  color: white;
}
