// Fonts style
$bold-font-family: proxima-nova-bold, sans-serif;
$regular-font-family: proxima-nova-regular, sans-serif;

// Fonts
$smallest-font-size: 14px;
$smallest-line-height: 20px;

$small-font-size: 16px;
$small-line-height: 22px;

$medium-font-size: 20px;
$medium-line-height: 28px;

$medium-large-font-size: 24px;
$medium-large-line-height: 28px;

$large-font-size: 48px;
$large-line-height: 48px;

$largest-font-size: 72px;
$largest-line-height: 72px;

$font-weight: 700;

// Colours
$bg-colour-1: #9679ff;
$bg-colour-2: #d499ea;
$bg-colour-3: #eea4b3;
$bg-colour-4: #434057;
$bg-colour-5: #f4f5f7;
$bg-colour-5-deep: #F4F5FE;
$bg-colour-6: #f8f9fa;
$bg-overlay-colour: rgba(20,16,52,.69);
$bg-overlay-colour-darker: #1f1b36;
$footer_bg-colour: #2d2e35;

$font-dark-colour: #2e2d36;
$lighter-dark-colour: #858e98;
$mediumpurple: mediumpurple;
$deep-purple: #7c54c1;
$deeper-purple: #7a1ea0;
$light-yellow: #f7a31d;
$light-green: #53c160;
$light-border: #e9eaef;
$hover-color: #f2f3f5;
$placeholder-colour: #9a99b6;
$input-border-colour: #d2d4df;
$tips-color-1: #feffd9;
$tips-color-2: #dc7338;
$cancel-color: #e0485c;
$button-inactive-colour: #9c99b6;

// Section spacing
$medium-section-spacing: 100px;
$large-section-spacing: 150px;
$small-section-spacing: 50px;

// Icon
$svg-small-size: 25px;
$svg-big-size: 30px;

%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-column {
  @extend %flex;
  flex-direction: column;
}

%flex-row {
  @extend %flex;
  flex-direction: row;
}

%link-font {
  font-size: $smallest-font-size;
  line-height: 20px;
  color: $mediumpurple;
  cursor: pointer;
}

%largest-heading-style {
  font-size: $largest-font-size;
  line-height: $largest-line-height;
  font-family: $bold-font-family;
  font-weight: 700;
}
%large-heading-style {
  font-size: $large-font-size;
  line-height: $large-line-height;
  font-weight: 700;
}
%medium-large-heading-style {
  font-size: $medium-large-font-size;
  line-height: $medium-large-line-height;
  font-weight: 700;
  font-family: $bold-font-family;
}

%medium-font-style-base {
  font-size: $medium-font-size;
  line-height: $medium-line-height;
}


%medium-font-style {
  @extend %medium-font-style-base;
  font-family: $bold-font-family;
}

%smallest-font-style {
  font-size: $smallest-font-size;
  line-height: $smallest-line-height;
}

%small-font-style {
  font-size: $small-font-size;
  line-height: $small-line-height;
}

%button {
  text-align: center;
  border: none;
  cursor: pointer;
  font-weight: $font-weight;
  color: white;
}
%button-with-outline {
  border-radius: 3px;
  background: transparent;
  cursor: pointer;
}

%listing-image-container{
  position: relative;
  bottom: 70px;
}

%listing-image{
  position: relative;
  cursor: pointer;
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: $bg-colour-5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  transition: all 0.3s ease-out;
  margin-top: 30px;

  &:hover {
    box-shadow: 0 8px 12px 0 rgba(46, 45, 54, 0.25);
    transform: scale(1.1);
  }
}

%listing-button{
  font-family: $bold-font-family;
  width: 100%;
  border: none;
  font-size: 24px;
  color: white;
  line-height: 60px;
  font-weight: $font-weight;
  border-radius: 5px;
  background-color: $button-inactive-colour;
  box-shadow: 0 8px 12px 0 rgba(46, 45, 54, 0.25);
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #9c94b6;
  }
}
