@font-face {
 font-family: 'proxima-nova-regular';
 src: local('proxima-nova-regular'), url("../fonts/proxima_ssv/ProximaNova-Regular.otf") format('truetype');
}
@font-face {
 font-family: 'proxima-nova-bold';
 src: local('proxima-nova-bold'), url("../fonts/proxima_ssv/Proxima Nova Bold.otf") format('truetype');
}
@import "../../../node_modules/bootstrap/scss/bootstrap";
 @import "variables";
 @import "base";
 @import "navbar";
 @import "footer";
 @import "renting";
 @import "addProperty";
 @import "housesForRent";
 @import "houseDetails";
 @import "myListings";
 @import "auth";
 @import "profileSettings";
 @import "landlordProfile";
 @import "chat";
 @import "policy";
 @import "payment";
 @import "muiOverride";
 @import "home";
